body{
    margin: 0;
}
header{
    color:darkkhaki;
   
    padding: 0px 0px 6px 40px;
    height: 60px;
}
header h1{
    display: inline;
    float: left ;
}
nav ul{
    display: inline;
    float: right;
}
nav ul li{
    display: inline-block;
    list-style-type: disc;
}
nav ul li a{
    padding-right: 40px;
    text-decoration: none;
    color:darkkhaki;
}
.a1:hover{
    cursor: help;
}
.a2:hover{
    cursor:wait;
}
#break{
    background-color:dimgrey;
    height: 10px;
}
#first{
    background-position: right;
    height: 100px;
    background-color:palegoldenrod;
    text-align: center;
    border: 3px solid darkred;
}
.col1{
    position: fixed;
    width:750px;
    
    background-color:rgb(201, 197, 197);
    height:100%;
}
.col1 centre h1{
    margin-top: 30px;
    margin-left:150px;
    font-style: unset;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.col1 ul li {
    color : darkslategrey;
}
.main{
    margin-left: 400px;

}
.mid{
    margin-left: 900px;
}
.mid h1{
    color: darkslategrey;
    margin-left:100px;
    font-style: unset;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
table, th, td {
    border: 1px solid black;
    text-align: center;
  }
.sec {
    text-align: center;

}
.col {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .cont{
      float : right;
      margin-top : -600px;
      margin-right: 100px;
  }
  
  .form-body .form {
      
      margin-left: 30%;
     margin-top: 2%;
     margin-right: 30%;
        background-color:darkkhaki;
        border-width: 10px;
  }
  input[type=text],input[type=email]{
      width:50%;
  }
  button{
      background-color:white;
      margin-left: 40%;
      color: firebrick;
      height:8%;
      width:12%;
      
  }

  button:hover{
      cursor: pointer;
      background-color:dimgray;
      color:wheat;
  }
  .form .l1{
      margin-left: 50px;
      
  }